.personEnter {
    opacity: 0;
    transform: translateX(-50%)
}

.personEnterActive {
    animation: personEntering .6s ease-in-out forwards;
}

.personExit {
    opacity: 1;
    transform: translateX(0%)
}

.personExitActive {
    animation: personExiting .6s ease-in-out forwards;
}

@keyframes personEntering {
    0% {
        opacity: 0;
        transform: translateX(-150%)
    }
    80% {
        opacity: 1;
        transform: translateX(5%)
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes personExiting {
    0% {
        opacity: 1;
        transform: translateX(0%)
    }
    20% {
        opacity: 1;
        transform: translateX(3%)
    }
    100% {
        opacity: 0;
        transform: translateX(-150%)
    }
}