.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 60px;
    text-align: center;
}

.warning-background {
  background-color: orange;
  margin: 15px auto;
  padding: 60px;
  min-width: 100px;
}

/* @media (min-width: 500px) {
    .Person {
        width: 450px;
    }
} */