
.red {
    color: red;
  }
  
.bold {
font-weight: bold;
}

.Button {
  border: 1px solid blue;
  padding: 16px;
  background-color: green;
  box-shadow: 2px 2px 4px #aaa;
  font: inherit;
  color: white;
  border-radius: 4px;
  transition: background-color .3s, color .3s;
  margin-right: 8px;
}

.Button:hover {
  color: black;
  cursor: pointer;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hover {
  color: black;
  cursor: pointer;
}