
.red {
    color: red;
  }
  
.bold {
font-weight: bold;
}

.Button {
  padding: 16px;
  background-color: #28a745;
  box-shadow: 2px 2px 4px #aaa;
  font: inherit;
  color: white;
  border-radius: 10px;
  transition: all .3s, color .3s;
  margin-right: 8px;
  width: 200px;
}

.Button:hover {
  color: black;
  cursor: pointer;
}

.Button.Red {
  background-color: #dc3545;
}

.Button.Red:hover {
  color: black;
  cursor: pointer;
}